{
    "rules": {
        "semi": [
            "warn",
            "always"
        ],
        "quotes": [
            "warn",
            "single"
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true
    }
}